
 .header_rp {
    border-bottom: 1px solid transparent;
    position: relative;
    color: #34495e;
    font-size: 15px;
    font-weight : bold;
    text-align: center;
    background-color: #FAFAFA;
    border: 1px solid #E0E0E0;
    border-radius: 5px !important;
    width: 99%;
    margin-left: 0.5%;
  }
  
  .link {
    color: #7f8c8d;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; /* 부드러운 색상 전환을 위한 트랜지션 */
  }
  
  .link:hover {
    color: #004080; /* 마우스 호버 시에 변경될 색상 */
  }
  
  .tagbtn {
    border: 1px solid #E0E0E0;
    padding: 0.8%;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
    background: white;
    transition: background-color 0.4s, color 0.4s, font-size 0.4s, font-weight 0.4s; ;
    font-weight: normal;
    font-family: 'Arial, sans-serif';
    font-size: 10;
    margin-right: 5%;
    border-radius: 5px !important; 
  }
  
  .container_rp {
    background-color: white;
    border-radius: 6px !important;
  }
  
.tagbtn.active {
    background: #C9F3AF;
    font-weight: bold;
    /* 다른 조건부 스타일 추가 가능 */
  }
  .tagbtn:hover {
    background: #C9F3AF;
    font-weight: bold;
  }
  

  .tagbtn_weak {
    border: 1px solid #E0E0E0;;
    padding: 0.8%;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
    background: white;
    transition: background-color 0.4s, color 0.4s, font-size 0.4s, font-weight 0.4s; ;
    font-weight: normal;
    font-family: 'Arial, sans-serif';
    font-size: 10;
    margin-right: 5%;
    border-radius: 5px !important; /* 모서리를 둥글게 만듭니다. */
  }
  
  .container_rp {
    background: 	white;
    border: 1px solid #E0E0E0;
  }
  
.tagbtn_weak.active {
    background: #F0BEB4;
    font-weight: bold;
    /* 다른 조건부 스타일 추가 가능 */
  }
  .tagbtn_weak:hover {
    background: #F0BEB4;
    font-weight: bold;
  }
  
  .list_rp {
    background-color: white;
    padding-left: 6%;
  }
  .link.correctColor {
    color: #65BB63;
  }
  